h1, h2, h3, h4, h5, h6 {
  text-align: left;
  margin-left: 30px;
}
h4 { margin-top: 20px; }
li {
  margin-left: 20px;
  text-align: left;
  color: #ccc;
}

img[alt="SLC Zoo, Arts & Parks program"] {
  margin-top: 25px;
  max-width: 200px;
  float: left;
}

img[alt="Utah Arts Council"] {
  margin-top: 15px;
  margin-left: 25px;
  max-width: 120px;
  float: left;
}
