<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<style>
  html, body { background-color: #333; }
</style>

{% include header.html %}

<div class="content">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="{% if page.url == '/about/' %}active{% endif %}"><a href="/about">About</a></li>
        <li role="presentation" class="{% if page.url == '/directors/' %}active{% endif %}"><a href="/directors">Directors</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      {{ content }}
    </div>
  </div>
</div>

{% include footer.html %}

</body>

</html>
